<div class="hover:scale-[1.1]">
    <svg width="@Size" height="@Size" viewBox="0 0 9 9" fill="none">
        <path d="M7.53107 4.49047V6.27632C7.53107 7.36974 6.64709 8.25 5.54907 8.25H2.232C1.13397 8.25 0.25 7.36974 0.25 6.27632V2.9396C0.25 1.84618 1.13397 0.965915 2.232 0.965915H3.95795M2.59668 4.71656L6.83941 0.491622C7.16293 0.169459 7.68384 0.169459 8.00736 0.491623C8.33088 0.813786 8.33088 1.3325 8.00736 1.65467L3.76462 5.8796M2.59668 4.71656L3.76462 5.8796M2.59668 4.71656L2.04846 6.42552L3.76462 5.8796M6.43421 0.895127L7.60215 2.05817" stroke="#55ddFF" stroke-width="0.7" stroke-linejoin="round" />
    </svg>
</div>

@code {
    [Parameter]
    public int Size { get; set; }
}
