<div class="bg-gray-500 rounded-full w-5 h-5 flex flex-row items-center justify-center hover:bg-gray-800 group">
    <svg width="0.67657644mm"
         height="0.46731403mm"
         viewBox="0 0 0.6765764 0.46731406"
         id="emailicon"
         class="w-5 h-5">
        <g transform="translate(-3.2304226,-1.1005103)">
            <rect class="stroke-white group-hover:stroke-white"
                  style="fill:none;stroke-width:0.04;stroke-linejoin:round;stroke-dasharray:none"
                  width="0.34830824"
                  height="0.21345986"
                  x="3.3945568"
                  y="1.2274374" />
            <path class="stroke-white group-hover:stroke-white" 
                  style="fill:none;stroke-width:0.04;stroke-linejoin:round;stroke-dasharray:none"
                  d="M 3.3945567,1.2274374 3.5687863,1.3446762 3.7428649,1.2274374" />
        </g>
    </svg>
</div>