<div class="w-8 h-7 flex flex-row justify-center items-center rounded-md border-2 border-white cursor-pointer">
    <svg width="12.041362mm"
         height="12.041363mm"
         viewBox="0 0 12.041362 12.041363"
         id="linkingicon"
         class="w-4 h-4">
        <g
           transform="translate(-3.7389298,-2.9374284)">
            <path style="fill:#e4e8e8;fill-opacity:1;stroke:#484848;stroke-width:0.07;stroke-linecap:round;stroke-linejoin:round"
                  d="M 7.8899418,-1.4800436 A 0.43879013,0.43879013 0 0 0 7.4512089,-1.0407939 V 0.41596469 L 6.3670374,0.86554965 5.3366093,-0.16487841 a 0.43879015,0.43879015 0 0 0 -0.620634,0 l -0.876949,0.87643229 a 0.43879014,0.43879014 0 0 0 0,0.62063392 L 4.8699711,2.3631327 4.4198694,3.4473042 H 2.9631108 A 0.43879015,0.43879015 0 0 0 2.5243779,3.8860371 V 5.1257547 A 0.43879022,0.43879022 0 0 0 2.9631108,5.5644876 H 4.4198694 L 4.8699711,6.6486592 3.8390263,7.679604 a 0.43879016,0.43879016 0 0 0 0,0.620634 l 0.876949,0.8764323 a 0.43879023,0.43879023 0 0 0 0.620634,0 l 1.0304281,-1.0304281 1.0841715,0.449585 v 1.4567588 a 0.43879015,0.43879015 0 0 0 0.4387329,0.438733 H 9.1301762 A 0.43879022,0.43879022 0 0 0 9.5689091,10.052586 V 8.5958272 l 1.0841719,-0.449585 1.030428,1.0304281 a 0.4387902,0.4387902 0 0 0 0.620634,0 L 13.181092,8.300238 a 0.4387902,0.4387902 0 0 0 0,-0.620634 L 12.150147,6.6486592 12.600249,5.5644876 h 1.456758 A 0.43879015,0.43879015 0 0 0 14.49574,5.1257547 V 3.8860371 A 0.4387901,0.4387901 0 0 0 14.057007,3.4473042 H 12.607483 L 12.155831,2.3569315 13.181092,1.3321878 a 0.43879021,0.43879021 0 0 0 0,-0.62063392 l -0.876949,-0.87643229 a 0.43879027,0.43879027 0 0 0 -0.620634,0 L 10.658765,0.85986524 9.5689091,0.40821322 V -1.0407939 A 0.43879015,0.43879015 0 0 0 9.1301762,-1.4800436 Z M 8.510059,2.1931172 A 2.3125002,2.3125002 0 0 1 10.822579,4.5056375 2.3125002,2.3125002 0 0 1 8.510059,6.8181579 2.3125002,2.3125002 0 0 1 6.1975387,4.5056375 2.3125002,2.3125002 0 0 1 8.510059,2.1931172 Z"
                  transform="translate(1.249552,4.452472)" />
        </g>
    </svg>

</div>
