<div class="cursor-pointer">
    <svg class="w-4 h-4"
         viewBox="0 0 4.3769379 6.2234068"
         id="deleteicon">
        <g transform="translate(-5.5897051,-4.5858329)">
            <path style="fill:none;stroke:#ff8a80;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1"
                  d="M 5.7747054,5.6652296 H 9.7816439 L 9.4829772,10.111367 A 0.54971661,0.54971661 137.09908 0 1 8.9310894,10.624229 L 6.6044266,10.609808 A 0.5544081,0.5544081 43.368238 0 1 6.0545601,10.090402 Z" />
            <path style="fill:none;stroke:#ff8a80;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1"
                  d="m 6.6691015,4.7708335 h 2.2073357 a 0.8943961,0.8943961 45 0 1 0.8943961,0.8943961 v 1e-7 H 5.7747054 l 0,-1e-7 A 0.8943961,0.8943961 135 0 1 6.6691015,4.7708335 Z" />
        </g>
    </svg>
</div>