<div class="bg-gray-500 rounded-full w-5 h-5 flex flex-row items-center justify-center hover:bg-gray-800 group">
    <svg width="1.060412mm"
         height="1.0604119mm"
         viewBox="0 0 1.060412 1.060412"
         id="unlockicon"
         class="w-5 h-5">
        <g transform="translate(-3.0386362,-0.82352148)">
            <rect class="stroke-white group-hover:stroke-white" 
                  style="fill:none;stroke-width:0.07;stroke-linejoin:round;stroke-dasharray:none"
                  width="0.41244313"
                  height="0.33911347"
                  x="3.3626206"
                  y="1.2875694" />
            <path class="stroke-white group-hover:stroke-white" 
                  style="fill:none;stroke-width:0.07;stroke-linecap:round;stroke-linejoin:round"
                  d="m 3.4407682,1.1986509 c 0.023751,-0.046599 0.072185,-0.078513 0.128074,-0.078513 0.079341,0 0.1436605,0.064319 0.1436605,0.1436605" />
        </g>
    </svg>
</div>